<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--    <a class="navbar-brand"-->
<!--       href="#https://jun447.github.io/Travelli.github.io/-->
<!--        target="_blank" rel="noopener noreferrer" " >Dev's Todolist</a>-->
     <a class="navbar-brand" href="#">Dev's Todolist</a>
    <a class="navbar-brand" href="https://jun447.github.io/Travelli.github.io/"
                    target="_blank" rel="noopener noreferrer">Travel Website
                                developed By DevJun</a>




  </nav>

</div>
<router-outlet></router-outlet>
<!--<app-todos></app-todos>-->
